$color1: #0b3142;
$color2: #f3efe0;
* {
  padding: 0;
  margin: 0;
  font-family: "Roboto Mono", monospace;
}
html {
  font-size: 1.8vh;
  background: $color2;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 7vh;
  width: 100%;
  box-shadow: 0 0 10px 0;
  #logo {
    font-size: 1.8rem;
    color: $color1;
    font-weight: 800;
    margin-left: 0;
    height: 4vh;
    margin-left: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #opcje {
    display: flex;
    margin-right: 2vw;
    a {
      color: #0b3142;
      text-decoration: unset;
      margin-left: 1vw;
    }
    a:hover {
      color: rgba(22, 48, 65);
      text-decoration: underline;
    }
  }
}
body {
  display: flex;
  align-items: center;
  flex-direction: column;
}
main {
  .dodajOgloszenie {
    form {
      display: flex;
      flex-direction: column;
      input {
        margin: 1vh 0 1vh 0;
        background: unset;
        border: #0b3142 solid 1px;
      }
      .opublikujButton:hover {
        background: #dbfab7;
        cursor: pointer;
      }
    }
  }
  .bladLogowania {
    text-align: center;
    max-width: 20vw;
    padding-bottom: 2vh;
    border-left: solid 1px #0b3142;
    border-right: solid 1px #0b3142;
  }
  .rejestracjaBox {
    display: flex;
    flex-direction: row;
    width: 80vw;
    justify-content: space-between;
    .formularzRejestracja {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 15vw;
      form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        input {
          background: unset;
          border: #0b3142 solid 1px;
          margin-bottom: 1vh;
        }
        .button {
          cursor: pointer;
        }
        .button:hover {
          background: #dbfab7;
        }
      }
      h3 {
        margin-bottom: 2vh;
      }
    }
    .opisy {
      width: 20vw;
      margin-top: 5vh;
      p {
        margin-bottom: 2vh;
      }
    }
  }
  pre {
    white-space: pre-wrap;
    max-width: 75vw;
  }
  .aplikuj {
    background: unset;
    border: 1px solid $color1;
    padding: 1vh;
    width: 100%;
    cursor: pointer;
    margin-top: 1vh;
  }
  .aplikuj:hover {
    background-color: #dbfab7;
  }
  margin: 3vh 0 0 0;
  min-height: 50vh;
  a {
    color: $color1;
  }
  #ogloszenia {
    .ogloszenie {
      cursor: pointer;
      box-shadow: black 7px 7px 25px -20px;
      border-radius: 5px;
      height: 6vh;
      width: 60vw;
      margin-top: 1vh;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 1vw 0 1vw;

      .tytulOferty {
        display: flex;
        flex-direction: column;

        .tytul {
          font-weight: 800;
        }
      }

      .daneOferty {
        display: flex;
        flex-direction: row;

        a {
          color: $color1;
        }
      }
    }
    .ogloszenie:hover {
      background-color: #dbfab7;
    }
    .numery {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 3vh 0 0 0;
      a {
        text-decoration: unset;
        // border: solid #0b3142 1px;
        background-color: $color1;
        color: $color2;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 1.5vw;
        margin: 1vh 0.1vw 0.1vw;
      }
      a:hover {
        background: #dbfab7;
        color: black;
      }

      .przyciskiStrony.active {
        font-weight: 900;
        background-color: $color2;
        color: $color1;
        border: solid $color1 1px;
      }
    }
  }

  #loginPraktykant {
    display: flex;
  }
  #loginPracodawca {
    display: none;
  }
  .loginBox {
    border-top: $color1 solid 1px;
    border-left: $color1 solid 1px;
    border-right: $color1 solid 1px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 20vw;
    height: 30vh;
    input {
      background: unset;
      border: solid $color1 1px;
      padding: 0.1vw;
    }
    .loginButton {
      width: 10vw;
    }
    .inputText {
      width: 15vw;
    }
  }
  #loginButtons {
    border-bottom: $color1 solid 1px;
    border-left: $color1 solid 1px;
    border-right: $color1 solid 1px;
    width: 20vw;
    height: 5vh;
    display: flex;
  }
  #typKontaPraktykant {
    background: unset;
    border-top: unset;
    border-left: unset;
    border-right: solid $color1 1px;
    border-bottom: unset;
    width: 10vw;
    cursor: unset;
  }
  #typKontaPracodawca {
    background: #dbfab7;
    border-top: solid $color1 1px;
    border-left: unset;
    border-right: unset;
    border-bottom: unset;
    width: 10vw;
    cursor: pointer;
  }
}
